{% extends "templates/base.html" %}
{% block title %}{% endblock %}
{% block body %}
<div style="font-size: 24px;">
  935 Door Sensor
</div> <br/>
<div style="font-size: 48px;">
  {% if current_state == 'OPEN' %}<i style="color:#ee3333" class="icon-warning-sign"></i>{% else %}{% if last_event == 'door_opened_alert' %}<i style="color:#eeee33" class="icon-ok-circle"></i>{% else %}<i style="color:#33ee33" class="icon-ok"></i>{% endif %}{% endif %} 
</div> <br/>
  Last event: {{last_event}} <br/>
  Event time: {{event_time}} <br/>
  Current state: {{current_state}} <br/>
  <!-- Door last opened: {{door_last_opened}} <br/>-->
  <br/>
  Remote addr: {{REMOTE_ADDR}}

<div id="graph">
</div>

<script type="text/javascript">
$(function() {
	var graph_events = [];
	{% for item in graph_events %}
    	graph_events.push( { y:'{{item.startTime}}', a:'{{item.duration}}' } ); 
	{% endfor %}

	// annual data
	Morris.Line({
	  element: 'graph',
	  data: graph_events,
	  xkey: 'y',
	  xLabels: ["hours"],
	  ykeys: ['a'],
	  labels: ['Events'],
	  dateFormat: function (x) { return new Date(x).toString(); }
	});
});
</script>
{% endblock %}